main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.section-header {
    font-size: 6rem;
    padding-bottom: 30px;
    border-bottom: 3px solid #E3963E;
}

#about-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#homepage {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    /* background: linear-gradient(to bottom,
        rgba(240, 240, 240, 0),
        rgba(240, 240, 240, 0) 60%,
        #1b1b1b 90%
    ); */
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    z-index: 1;
    padding-top: 6vw;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10vh;
    padding-bottom: 10vh;
    z-index: 1;
    background-color: #1b1b1b;
}

/* Homepage header styling */
header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 3vw;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 0.7;
    color: #d46216;
}

header h1:first-of-type {
    font-size: clamp(40px, 4.5vw + 1rem, 1000px);
    font-weight: 800;
    margin-bottom: 20px;
    line-height: 1;
    color: #ff9f0f;
}

header h2 {
    font-size: 2vw;
    align-self: flex-end;
}

#about article {
    font-size: 1.8rem;
    color: white;
    align-self: center;
    padding-top: 30px;
    margin-bottom: 10px;
}

header h2:first-of-type {
    align-self: flex-start;
    font-size: 1.6vw;
    letter-spacing: 8px;
    color: #ffffff;
    font-weight: 700;
}

/* Arrow */
.arrow-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.arrow-container span {
    margin: 0px;
    font-size: .7rem;
    color:#ffffff9d
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #cfcfcfc9;
    position: relative;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-7px);
    }
    60% {
        transform: translateY(-4px);
    }
}

/* Arrow Positions */
section .arrow-container {
    bottom: 5vh;
}

#projects article img {
    width: 100%;
}

#deandre {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

  
/* Socials */
#socials {
    display: flex;
    align-self: center;
}

#socials li {
    list-style: none;
}

#socials li a {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 0 5px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

#socials li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
}

#socials li a i {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: 28px;
    font-size: 18px;
    color: #262626;
    transition: .5s;
}

#socials li:nth-child(1) a i:hover {
    color: #3b5998;
}

#socials li:nth-child(2) a:hover .fa-brands {
    color: #696969;
}

#socials li:nth-child(3) a:hover .fa-brands {
    color: #007bb6;
}

#socials li:nth-child(4) a:hover .fa-brands {
    color: #e4405f;
}

#socials li:nth-child(5) a i:hover {
    color: #e2a637;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    align-self: flex-start;
    text-align: right;
}

.desc * {
    margin-left: 0;
    transition: all 0.3s ease-in-out;
}

.desc a *:hover {
    margin-left: 0;
    letter-spacing: .3px;
    color:#E3963E;
}

.desc p {
    margin-bottom: 0px;
}

/* Projects section details styling */
.details {
    width: 50%;
    border-left: 2px solid #E3963E; 
    align-self: flex-end;
}

.details p {
    margin-left: 10px;
    margin-bottom: 0; 
}

/* Projects section spacing */
.spacing {
    flex-grow: 1;
}

#project {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    margin-top: 20px;
    background:rgba(240, 240, 240, 0)
}

.desc h2 {
    margin-bottom: 5px;
}

#projects h1 {
    margin-bottom: 30px;
}

#about-content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
}

#skills {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
}

#skills a {
    background-color: rgb(48, 48, 48);
    border-radius: 12px;
    height: auto;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1rem;
}

#skills h2, #bio h2 {
    width: 100%;
    font-size: 3rem;
}

#bio p {
    margin-top: 20px;
}

#skills h3 {
    width: 100%;
    font-size: 1.5rem;
}

#bio {
    width: 60%;
}


.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

#contact {
    height: auto;
    min-height: auto;
    background-color: rgb(17, 17, 17);
    padding-bottom: 30px;
}

#contact h1 {
    font-size: 4rem;
    margin-top: 50px;
}

#footer {
    height: auto;
    min-height: auto;
    background-color: rgb(0, 0, 0);
    padding-top: 40px;
    padding-bottom: 20px;
}

.contact-me {
    width: 100%;
    max-width: 1020px;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.contact-form {
    width: 50vw;
    max-width: 800px;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-form .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form .form-group textarea {
    resize: vertical;
}
.contact-form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff7b00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #0056b3;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contact-info p {
    font-size: 15px;
}

.contact-info h3 {
    font-size: 15px;
    margin-bottom: 5px;
    color: #ff9f0f
}

.info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-group p {
    margin-bottom: 0
}

#resume-link a {
    background-color:#e67830;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-size: 1rem;
    padding: 10px;
    font-weight: 1000;
}

#resume-link {
    margin-top: 20px;
}

#homepage-subheading {
    color: white;
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 2vw;
}

/* Navigation Bar Styling for bigger Devices */
@media only screen and (min-width: 850px) {
    .section-header {
        font-size: 8rem;
    }

    #deandre {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 720px) {
    #about-content {
        flex-direction: column;
        align-items: center;
    }

    #bio, #skills {
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    #about-header {
        flex-direction: column;
    }

    .section-header {
        text-align: center;
        font-size: 4rem;
    }

    #project {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .desc {
        align-items: center;
        width: auto;
        margin-bottom: 20px;
        align-self: center;
        border-bottom: 2px solid #E3963E;
        padding-bottom: 20px; 
    }

    .desc h2 {
        font-size: 2.5rem;
        text-align: center;
        line-height: 1;
        margin-bottom: 15px;
    }

    .details {
        width: 100%;
        text-align: center;
        border: none;
    }
}

@media only screen and (max-width: 950px) {
    .contact-me {
        flex-direction: column;
        gap: 50px;
        margin: 0;
        width: 100%
    }

    .contact-info {
        align-items: center;
        gap: 20px;
    }

    .info-group {
        align-items: center;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form h2 {
        text-align: center;
    }

    .form-group {
        justify-content: center;
    }

    #send-message {
        flex-direction: column;
    }

    #homepage-heading-1 {
        font-size: 30px;
    }

    #homepage-heading-2 {
        font-size: 80px;
    }

    #homepage-subheading {
        font-size: 20px;
        align-self: left;
    }
}

@media only screen and (max-width: 550px) {
    #homepage-heading-1 {
        font-size: 20px;
    }

    #homepage-heading-2 {
        font-size: 60px;
    }

    #homepage-subheading {
        font-size: 15px;
    }
}
